# Loading Green Taxi Data

In [1]:
import pandas as pd
from time import time
import requests
import gzip
import shutil
import os
from sqlalchemy import create_engine
import psycopg2

In [2]:
pd.__version__

'2.2.3'

In [3]:
# URL of the gzipped CSV file 
url = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-10.csv.gz' 
# Folder path where the file will be saved 
folder_path = 'data/' 
# Ensure the directory exists 
os.makedirs(folder_path, exist_ok=True)

# Get the name of the file from the URL 
file_name = url.rsplit('/', 1)[-1] 

# Download the file 
response = requests.get(url, stream=True) 

# Save the gzipped file locally
if response.status_code == 200: 
    gz_file_path = os.path.join(folder_path, file_name) 
    with open(gz_file_path, 'wb') as f: 
        f.write(response.content) 
    print(f'File downloaded successfully: {gz_file_path}') 
else: print('Failed to download file')

# Unzip the file and save it as a CSV 
with gzip.open(gz_file_path, 'rb') as f_in: 
    csv_file_path = os.path.splitext(gz_file_path)[0] 
    # Removing the .gz extension for the CSV file path 
    with open(csv_file_path, 'wb') as f_out: 
        shutil.copyfileobj(f_in, f_out) 
    print(f'File unzipped and saved successfully: {csv_file_path}')

File downloaded successfully: data/green_tripdata_2019-10.csv.gz
File unzipped and saved successfully: data/green_tripdata_2019-10.csv

In [4]:
# URL of the gzipped CSV file
url = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv'

# Folder path where the file will be saved 
folder_path = 'data/' 
# Ensure the directory exists 
os.makedirs(folder_path, exist_ok=True)
# Get the name of the file from the URL 
file_name = url.rsplit('/', 1)[-1] 
# Download the file
response = requests.get(url, stream=True)


# Save the gzipped file locally
if response.status_code == 200:
    csv_file_path = os.path.join(folder_path, file_name)
    with open(csv_file_path, 'wb') as f:
        f.write(response.content)
    print(f'File downloaded successfully :{file_name}')
else:
    print('Failed to download file')

File downloaded successfully :taxi_zone_lookup.csv

In [10]:
dfgreen = pd.read_csv('data/green_tripdata_2019-10.csv', nrows=100)

In [11]:
dfgreen.columns

Index(['VendorID', 'lpep_pickup_datetime', 'lpep_dropoff_datetime',
       'store_and_fwd_flag', 'RatecodeID', 'PULocationID', 'DOLocationID',
       'passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax',
       'tip_amount', 'tolls_amount', 'ehail_fee', 'improvement_surcharge',
       'total_amount', 'payment_type', 'trip_type', 'congestion_surcharge'],
      dtype='object')

In [12]:
dfgreen.dtypes

VendorID                   int64
lpep_pickup_datetime      object
lpep_dropoff_datetime     object
store_and_fwd_flag        object
RatecodeID                 int64
PULocationID               int64
DOLocationID               int64
passenger_count            int64
trip_distance            float64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
ehail_fee                float64
improvement_surcharge    float64
total_amount             float64
payment_type               int64
trip_type                  int64
congestion_surcharge     float64
dtype: object

In [13]:
dfgreen.lpep_pickup_datetime = pd.to_datetime(dfgreen.lpep_pickup_datetime)
dfgreen.lpep_dropoff_datetime = pd.to_datetime(dfgreen.lpep_dropoff_datetime)

In [14]:
dfzone = pd.read_csv('data/taxi_zone_lookup.csv')
dfzone.shape

(265, 4)

In [15]:
dfzone.dtypes

LocationID       int64
Borough         object
Zone            object
service_zone    object
dtype: object

In [16]:
engine = create_engine('postgresql://postgres:postgres@localhost:5433/ny_taxi')

In [17]:
print(pd.io.sql.get_schema(dfgreen, name='green_taxi_data', con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [18]:
print(pd.io.sql.get_schema(dfzone, name='taxizone_data', con=engine))

CREATE TABLE taxizone_data (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [19]:
dfzone.head(n=0).to_sql(name='taxizone_data', con=engine, if_exists='replace')

0

In [20]:
dfgreen.head(n=0).to_sql(name='green_taxi_data', con=engine, if_exists='replace')

0

In [21]:
dfgreen_iter = pd.read_csv('data/green_tripdata_2019-10.csv', iterator=True, chunksize=100000,low_memory=False)

In [ ]:
while True:
    try:
        t_start = time()

        df = next(dfgreen_iter)

        df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
        df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
        
        df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

        t_end = time()

        print('inserted another chunk, took %.3f second' % (t_end - t_start))

    except StopIteration:
        break

inserted another chunk, took 12.115 second
inserted another chunk, took 12.160 second
inserted another chunk, took 15.973 second
inserted another chunk, took 23.421 second

StopIteration:

In [24]:
dfzone.to_sql(name='taxizone_data', con=engine, if_exists='append')

265

In [25]:
engine.connect()

In [26]:
query = """
SELECT 1 as number;
"""

pd.read_sql(query, con=engine)

   number
0       1

In [27]:
query = """
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND 
    schemaname != 'information_schema';
"""

pd.read_sql(query, con=engine)

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,public,taxizone_data,postgres,None,True,False,False,False
1,public,green_taxi_data,postgres,None,True,False,False,False

In [28]:
query = """
SELECT * FROM green_taxi_data LIMIT 10
"""

pd.read_sql(query, con=engine)

,index,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,...,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,100000,2,2019-10-08 15:30:23,2019-10-08 15:37:34,N,1,65,66,1,0.95,...,0.0,0.5,2.19,0.0,None,0.3,9.49,1,1,0.00
1,100001,2,2019-10-08 15:17:48,2019-10-08 15:26:33,N,1,226,260,1,1.69,...,0.0,0.5,1.20,0.0,None,0.3,10.00,1,1,0.00
2,100002,2,2019-10-08 16:01:41,2019-10-08 16:29:08,N,1,226,161,1,3.41,...,0.0,0.5,4.31,0.0,None,0.3,25.86,1,1,2.75
3,100003,1,2019-10-08 15:54:49,2019-10-08 15:59:37,N,1,181,181,1,0.60,...,1.0,0.5,0.00,0.0,None,0.3,6.80,2,1,0.00
4,100004,2,2019-10-08 15:14:39,2019-10-08 15:30:24,N,1,179,223,1,1.20,...,0.0,0.5,0.00,0.0,None,0.3,11.30,2,1,0.00
5,100005,2,2019-10-08 15:16:59,2019-10-08 15:40:56,N,1,166,237,1,3.30,...,0.0,0.5,4.11,0.0,None,0.3,24.66,1,1,2.75
6,100006,2,2019-10-08 15:29:21,2019-10-08 15:42:11,N,1,97,225,1,2.12,...,0.0,0.5,0.00,0.0,None,0.3,11.30,1,1,0.00
7,100007,2,2019-10-08 15:22:37,2019-10-08 15:33:22,N,1,75,74,1,1.43,...,0.0,0.5,1.00,0.0,None,0.3,10.30,1,1,0.00
8,100008,2,2019-10-08 15:21:24,2019-10-08 15:35:25,N,1,76,76,1,2.41,...,0.0,0.5,0.00,0.0,None,0.3,12.80,1,1,0.00
9,100009,2,2019-10-08 15:32:53,2019-10-08 15:42:00,N,1,75,75,2,1.20,...,0.0,0.5,1.66,0.0,None,0.3,9.96,1,1,0.00

In [29]:
# Question 3. Trip Segmentation Count
query = """
SELECT
    SUM(CASE WHEN trip_distance <= 1 THEN 1 ELSE 0 END) AS "Up to 1 mile",
    SUM(CASE WHEN trip_distance > 1 AND trip_distance <= 3 THEN 1 ELSE 0 END) AS "Between 1 and 3 miles",
    SUM(CASE WHEN trip_distance > 3 AND trip_distance <= 7 THEN 1 ELSE 0 END) AS "Between 3 and 7 miles",
    SUM(CASE WHEN trip_distance > 7 AND trip_distance <= 10 THEN 1 ELSE 0 END) AS "Between 7 and 10 miles",
    SUM(CASE WHEN trip_distance > 10 THEN 1 ELSE 0 END) AS "Over 10 miles"
FROM green_taxi_data
WHERE lpep_pickup_datetime >= '2019-10-01' AND lpep_pickup_datetime < '2019-11-01';
"""

pd.read_sql(query, con=engine)

,Up to 1 mile,Between 1 and 3 miles,Between 3 and 7 miles,Between 7 and 10 miles,Over 10 miles
0,78992,150921,90059,24082,32306

In [30]:
#Question 4. Longest trip for each day
query = """
SELECT
    lpep_pickup_datetime::date AS pickup_day,
    MAX(trip_distance) AS max_distance
FROM green_taxi_data
GROUP BY pickup_day
ORDER BY max_distance DESC
LIMIT 1;


"""

pd.read_sql(query, con=engine)

   pickup_day  max_distance
0  2019-10-31        515.89

In [31]:
query = """
ALTER TABLE green_taxi_data RENAME COLUMN "PULocationID" TO pulocationid;
ALTER TABLE green_taxi_data RENAME COLUMN "DOLocationID" TO dolocationid;
ALTER TABLE taxizone_data RENAME COLUMN "LocationID" TO locationid;
ALTER TABLE taxizone_data RENAME COLUMN "Borough" TO borough;
ALTER TABLE taxizone_data RENAME COLUMN "Zone" TO zone;

SELECT
	z.borough,
	z.zone,
	SUM(g.total_amount) as total_amount
FROM green_taxi_data g
JOIN taxizone_data z ON g.pulocationID = z.locationID
WHERE g.lpep_pickup_datetime::date='2019-10-18'
GROUP BY 1,2
HAVING SUM(g.total_amount)>13000
ORDER BY total_amount DESC;
"""

pd.read_sql(query, con=engine)

     borough                 zone  total_amount
0  Manhattan    East Harlem North      18686.68
1  Manhattan    East Harlem South      16797.26
2  Manhattan  Morningside Heights      13029.79

In [34]:
query = """
ALTER TABLE green_taxi_data RENAME COLUMN "PULocationID" TO pulocationid;
ALTER TABLE green_taxi_data RENAME COLUMN "DOLocationID" TO dolocationid;
ALTER TABLE taxizone_data RENAME COLUMN "LocationID" TO locationid;
ALTER TABLE taxizone_data RENAME COLUMN "Borough" TO borough;
ALTER TABLE taxizone_data RENAME COLUMN "Zone" TO zone;

SELECT
    z_dropoff.zone AS dropoff_zone,
    MAX(g.tip_amount) AS max_tip
FROM green_taxi_data g
JOIN taxizone_data z_pickup ON g.pulocationid = z_pickup.locationid
JOIN taxizone_data z_dropoff ON g.dolocationid = z_dropoff.locationid
WHERE z_pickup.zone = 'East Harlem North'
AND g.lpep_pickup_datetime >= '2019-10-01'
AND g.lpep_pickup_datetime < '2019-11-01'
GROUP BY z_dropoff.zone
ORDER BY max_tip DESC
LIMIT 1;

"""

pd.read_sql(query, con=engine)

  dropoff_zone  max_tip
0  JFK Airport     87.3